<html layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<section layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/associations/show(association=${event.association.abbreviation})}" th:text="${event.association.name}"/></li>
            <li class="breadcrumb-item active" th:text="${event.name}"></li>
        </ol>
    </nav>
    <h1 th:text="${event.name}"></h1>
    <div class="list-group pb-3 pl-5">
        <a class="col-sm-4 btn btn-primary list-group-item list-group-item-action m-1"
           th:href="@{/attendees(event=${event.id})}">Bezoekers weergeven</a>
        <a class="col-sm-4 btn btn-primary list-group-item list-group-item-action m-1"
           th:href="@{/attendees/scan(event=${event.id})}">Scan bezoekers</a>
        <a class="col-sm-4 btn btn-primary list-group-item list-group-item-action m-1"
           th:href="@{/attendees/createExtern(event=${event.id})}">Bezoekers ingeven</a>
        <a class="col-sm-4 btn btn-primary list-group-item list-group-item-action m-1"
           th:href="@{/attendees/export(event=${event.id})}">Bezoekers exporteren</a>
        <a class="col-sm-4 btn btn-primary list-group-item list-group-item-action m-1"
           th:href="@{/events/edit(event=${event.id})}">Evenement aanpassen</a>
    </div>
</section>
</body>
</html>