<html layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<section layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a
                    th:href="@{/associations/show(association=${event.association.abbreviation})}"
                    th:text="${event.association.name}"/></li>
            <li class="breadcrumb-item"><a th:href="@{/events/show(event=${event.id})}" th:text="${event.name}"/></li>
            <li class="breadcrumb-item active" aria-current="page">Bezoekers scannen</li>
        </ol>
    </nav>

    <div id="ugent-scanner">Controleer of javascript aan staat.</div>
    <script src="/dist/scanner-bundle.js"></script>
</section>

</body>
</html>
